<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>FORMACIÓN EDUCATIVA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="root">
    <div id="title">
      <h1><strong>EDUCACIÓN:</strong></h1>
    </div>
    <div id="main">
      <div id="description">
        <p style="color: red"><strong>EDUCACIÓN PRIMARIA: </strong></p>
        <p>
          <strong>Nombre de la Institución Educativa: </strong>Escuela Fiscal Nicolas Guillen
        </p>
        <p><strong>Título Otorgado: </strong>Certificado de 7mo grado</p>
        <p style="color: red">
          <strong>EDUCACIÓN SECUNDARIA: </strong>
        </p>
        <p>
          <strong>Nombre de la Institución Educativa: </strong>Colegio Nacional "Tarqui"
        </p>
        <p><strong>Título otorgado: </strong>Bachiller en Ciencias</p>
        <p style="color: red"><strong>EDUCACIÓN SUPERIOR: </strong></p>
        <p>
          <strong>Institución Educativa: </strong>Escuela Politécnica Nacional
        </p>
        <p><strong>Título Otorgado: </strong>En progreso</p>
        <p><strong>Idioma Extranjero: </strong>inglés</p>
        <p><strong>Dominio del idioma hablado: </strong>medio</p>
        <p><strong>Dominios del idioma escrito: </strong>medio</p>
        <p>
          <strong>Experiencia Laboral: </strong>350 Horas en la empresa ITDEA
        </p>
        <p>
          <strong>Certificados: </strong>
        </p>
        <ul>
          <li>Jornadas Tecnológicas ESFOT-EPN 2019</li>
          <li>Curso de Pruebas de Software, ESFOT-EPN 2020</li>
          <li>
            Curso de AUTOCAD con enfoque en Redes de telecomunicaciones 2020
          </li>
          <li>
            Curso de Introducción a Packet Tracer de Cisco Networking Academy.
          </li>
          <li>
            Curso de Introducción a la Ciberseguridad de Cisco Networking
            Academy
          </li>
          <li>
            Curso de "Cybersecurity Essentials" de Cisco Networking Academy
          </li>
          <li>
            Profesor en el curso de capacitación "Redescubriendo la enseñanza -
            Herramientas Digitales para la Educación"
          </li>
        </ul>
      </div>
    </div>
  </div>
</ion-content>
