<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>REFERENCIAS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="root">
    <div id="title">
      <h1><strong>Hoja de vida</strong></h1>
    </div>
    <div id="main">
      <div id="description">
        <ul>
          <li>Jennifer Robalino - Teléfono: 0987589459</li>
          <li>Yomara Diaz - Teléfono: 0984304142</li>
          <li>Liliana Achig - Teléfono: 0997918338</li>
          <li>Pablo Yanangomez - Teléfono: 0979247176</li>
        </ul>
      </div>
    </div>
  </div>
</ion-content>
